<style type='text/css'>
    .root{
         display: flex;
         align-items: center;
        justify-content: center;
    }
    .subdiv{
        width: 800px;
        height: auto;
        border: 0.5px solid #bdc3c7;
        padding: 10px;
        margin-top: 10px;
        border-radius: 10px;
        background-color: #ecf0f1;
      }
      .h4{
          color:green;
          }

       </style>
   
   <!DOCTYPE html>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
   
   
   
   <html lang="en">
   <head>
       <meta charset="UTF-8">
       <title>Bank Portal</title>
   </head>
   <body style="background-color:powderblue;">
       <br>
    <center>
        <h1><u>Bank Details:</u></h2>        
    </center>
   <div class="root">
       <div class="subdiv">
       
   <table class="table">
       <thead>
       <tr>
           <th scope="col">Account No.</th>
           <th scope="col">Name</th>
         <th scope="col">Email</th>
         <th scope="col">Phone</th>
         <th scope="col">Balance</th>
         </tr>
     </thead>
   
   <tbody>
    {%  for row in rows %}
        <tr>
         <td>{{row.account_no}}</td>
         <td>{{row.name}}</td>
         <td>{{row.email}}</td>
         <td>{{row.phone}}</td>
         <td>₹ {{row.balance}}</td>
         <td><a href="/customer_by_ac/{{row.id}}">Select</a></td>
         </tr>  
        {% endfor %}
        </tbody>
   </table>
   </div>
   </div>
   </body>
   
  </html>